<input type="text" [disabled]="isDisabled" [(ngModel)]="nombre" />
<button
  type="button"
  (click)="habilitarDeshabilitar()"
  [style.color]="isDisabled ? 'red' : 'green'"
>
  Habilitar/Desahabilitar
</button>
<button type="button" (click)="getPersonaje(nombre)">Ver personaje</button>
<div class="tarjeta">
  <div class="titulo">
    <h1>{{ nombre }}</h1>
  </div>
  <div class="imagenTarjeta">
    <img src="{{ imagen }}" style="height: 300px" />
  </div>
</div>
<button type="button" (click)="onClick()">Enviar</button>
<h1>{{ nombre }}</h1>
<h1>{{ precio | number: "1.1-2" }}</h1>

<ul>
  <li><a routerLink="/inicio">Inicio</a></li>
  <li><a routerLink="/otra-pagina">otra-pagina</a></li>
  <li><a routerLink="/sobre-nosotros">sobre-nosotros</a></li>
  <li><a routerLink="/ficha-personaje/{{ nombre }}">ficha-personaje</a></li>
  <!-- <li>
    <a routerLink="profile" routerLinkActive="active" *ngIf="login">Perfil</a>
  </li>
  <li>
    <a routerLink="profile" routerLinkActive="active" *ngIf="!login">Login</a>
  </li>
  <li>
    <a class="nav-link" (click)="logout()" *ngIf="login">Logout</a>
  </li> -->
</ul>

<app-form-login></app-form-login>

<router-outlet></router-outlet>
